/* Body - fonts
----------------------------------------------- */
/* Anchors
----------------------------------------------- */
/* Global
----------------------------------------------- */
/* Font Specific Settings
----------------------------------------------- */
/* Headers
----------------------------------------------- */
/* Form Settings 
----------------------------------------------- */
/* Tables
----------------------------------------------- */
/* Button settings
----------------------------------------------- */
    /* Settings for SassyGrids 
----------------------------------------------------------------------------------------------------*/
/* Import Mixins used by SassyGrids
----------------------------------------------------------- -----------------------------------------*/
/* Import Functions used by SassyGrids
----------------------------------------------------------- -----------------------------------------*/
/* Error Handling for SASS precomiler
----------------------------------------------------------- -----------------------------------------*/
/* ==========================================================================
   Debug
   ========================================================================== */
/* line 8, ../scss/components.scss */
button.debug {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 11;
}

/* ==========================================================================
   Main Content
   ========================================================================== */
/* line 15, ../scss/components.scss */
#mainContent {
  width: 100%;
  clear: both;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* ==========================================================================
   Navigation
   ========================================================================== */
/* ==========================================================================
   Sprites
   ========================================================================== */
/* line 56, ../scss/components.scss */
.sprite {
  position: relative;
}
/* line 57, ../scss/components.scss */
.sprite:after, .sprite:before {
  display: block;
  background: transparent url("../../_design/sprite.png");
  position: absolute;
}
/* line 58, ../scss/components.scss */
.sprite.loading {
  position: relative;
  min-height: 100px;
  height: 100%;
  width: 100%;
}
/* line 58, ../scss/components.scss */
.sprite.loading:after {
  content: '';
  width: 32px;
  height: 32px;
  background: url("../../_design/site/ajax-loader.gif");
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -16px;
  margin-top: -16px;
}

/* ==========================================================================
   Buttons
   ========================================================================== */
/* line 68, ../scss/components.scss */
button, input[type="submit"], .button {
  width: auto;
  height: auto;
  background: #9d0933;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border: 0;
  outline: 0;
  cursor: pointer;
  padding: 5px 20px;
}
/* line 70, ../scss/components.scss */
button.alt, input[type="submit"].alt, .button.alt {
  background: #700620;
  text-transform: capitalize;
}
/* line 71, ../scss/components.scss */
button.fullCol, input[type="submit"].fullCol, .button.fullCol {
  padding: 5px 0;
}

/* ==========================================================================
   Default Form Layout
   ========================================================================== */
/* line 82, ../scss/components.scss */
label[for] {
  float: left;
  clear: left;
  width: 85px;
  margin: 15px 10px 5px 0;
}
/* line 83, ../scss/components.scss */
label[for] + * {
  width: 278px;
  float: left;
  margin: 5px 0;
}
/* line 84, ../scss/components.scss */
label[for] + .dropdownContainer {
  width: 280px;
}
/* line 85, ../scss/components.scss */
label[for] + .autoFlow {
  width: auto;
}
/* line 86, ../scss/components.scss */
label[for].alt {
  margin: 5px 10px 5px 0;
}

/* line 88, ../scss/components.scss */
input, textarea {
  width: 100%;
  padding: 13px 0px;
  text-indent: 10px;
  margin: 0;
  outline: 0;
}

/* line 91, ../scss/components.scss */
textarea {
  min-height: 128px;
}

/* ==========================================================================
   Checkboxes & Radios
   ========================================================================== */
/* line 100, ../scss/components.scss */
input[type="checkbox"], input[type="radio"] {
  display: none;
}
/* line 101, ../scss/components.scss */
input[type="checkbox"] + label, input[type="radio"] + label {
  position: relative;
  padding-left: 25px;
  font-size: 12px;
  line-height: 20px;
  display: block;
  margin: 10px 0;
  cursor: pointer;
}
/* line 102, ../scss/components.scss */
input[type="checkbox"] + label:before, input[type="radio"] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 18px;
  width: 18px;
  border: 1px solid #700620;
  display: block;
  text-align: center;
  color: white;
  font-size: 17px;
  line-height: 18px;
}
/* line 103, ../scss/components.scss */
input[type="checkbox"] + label a, input[type="radio"] + label a {
  font-size: inherit;
  line-height: inherit;
  text-decoration: underline;
  font-weight: inherit;
}
/* line 106, ../scss/components.scss */
input[type="checkbox"]:checked + label:before, input[type="radio"]:checked + label:before {
  background: #9d0933;
  border-color: #191919;
  content: '\2713';
}
/* line 110, ../scss/components.scss */
input[type="checkbox"]:disabled + label, input[type="radio"]:disabled + label {
  cursor: not-allowed;
}
